.jekyll-metadata
.htaccess
.DS_Store
.sass-cache
Gemfile.lock
_site/
_drafts/

# Logs
logs
*.log

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# Build
dist

# IntelliJ
.idea
/*.iml

# Coverage reports
/coverage